/* Contact Form Styles */

section.contact-form {
    margin-top: 40px;
}

section.contact-form form input {
    display: block;
    width: 216px;
    height: 33px;
}

section.contact-form form textarea {
    width: 492px;
    height: 203px;
    resize: none;
}

section.contact-form form * {
    font-family: bebas;
    font-size: 12px;
    color: rgba(198, 198, 198, 255);
    background-color: #fafafa;
    border-style: none;
    border: 1px solid rgba(198, 198, 198, 255);
}

section.contact-form form *:nth-child(n + 2) {
    margin-top: 20px;
}

section.contact-form form div.submit-link * {
    display: block;
    width: unset;
    height: unset;
    background-color: transparent;
    border-style: unset;
    border: none;
    display: inline-block;
}

section.contact-form form div {
    display: block;
    width: unset;
    height: unset;
    background-color: transparent;
    border-style: unset;
    border: none;
}

section.contact-form form div input[type='submit'] {
    color: black;
    margin-top: 0px;
}
